# CREDIT RISK ANALYSIS

In [30]:
import os
os.chdir(r"C:\Users\USER\Desktop\New folder\DSP_Capstone Project\Python Project")

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [32]:
my_data = pd.read_csv(r"C:\Users\USER\Desktop\New folder\DSP_Capstone Project\Python Project\XYZCorp_LendingData.txt",delimiter="\t",header=0)

C:\Users\USER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (17,45,53) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [33]:
my_data.to_csv("XYZCorp_LendingData.csv",index=False)

In [34]:
type(my_data.columns)

pandas.core.indexes.base.Index

In [35]:
my_data.rename({'member_id':'ID','loan_amnt':"venu"},inplace=True,axis=1)

In [37]:
my_data.columns.values[2]="Venukiran"

In [38]:
my_data.head()

,id,ID,Venukiran,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

## Missing Values

In [5]:
my_data.shape

(855969, 73)

In [6]:
null_values=my_data.isna().sum()
null_values

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                     ...
total_rev_hi_lim     67313
inq_fi              842681
total_cu_tl         842681
inq_last_12m        842681
default_ind              0
Length: 73, dtype: int64

In [7]:
Percentage_null=round(my_data.isnull().sum()/len(my_data) * 100,2)
print(Percentage_null)

id                   0.00
member_id            0.00
loan_amnt            0.00
funded_amnt          0.00
funded_amnt_inv      0.00
                    ...
total_rev_hi_lim     7.86
inq_fi              98.45
total_cu_tl         98.45
inq_last_12m        98.45
default_ind          0.00
Length: 73, dtype: float64

In [8]:
null_values_DF=pd.DataFrame({"count":null_values,"% null":Percentage_null})

In [9]:
sorted_null = null_values_DF.sort_values(by='% null', ascending=False)

In [10]:
less_50=sorted_null["% null"]<=50
less_50.value_counts()

True     52
False    21
Name: % null, dtype: int64

In [11]:
my_data=my_data.loc[:,my_data.isnull().sum()/len(my_data) <=.50 ]

In [12]:
my_data.shape

(855969, 52)

In [13]:
my_data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state',
       'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'default_ind'],
      dtype='object')

## DATA CLEANING, FEATURE ENGINEERING FOR FIRST 15 FEATURES

In [14]:
my_data.iloc[:,0:15]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855964,36371250,39102635,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,B5,Office Assistant,8 years,RENT,31000.0,Verified
855965,36441262,39152692,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,B5,Director of Maintenance,10+ years,MORTGAGE,79000.0,Verified
855966,36271333,38982739,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,D2,Radiologist Technologist,5 years,RENT,35000.0,Verified
855967,36490806,39222577,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,E3,Painter,1 year,RENT,64400.0,Source Verified
855968,36271262,38982659,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,B5,Manager Hotel Operations Oasis,10+ years,RENT,100000.0,Verified

In [15]:
my_data["term"]=my_data["term"].map({" 60 months":0," 36 months":1})

In [16]:
my_data["verification_status"].value_counts()

Source Verified    318178
Verified           280049
Not Verified       257742
Name: verification_status, dtype: int64

In [17]:
label_encoder = LabelEncoder()
my_data["grade"]= label_encoder.fit_transform(my_data["grade"])
my_data["home_ownership"]= label_encoder.fit_transform(my_data["home_ownership"])

In [18]:
my_data["emp_length"]=my_data["emp_length"].map({"< 1 year":0,"1 year":1,"2 years":2,"3 years":3,"4 years":4,"5 years":5,"6 years":6,"7 years":7,"8 years":8,"9 years":9,"10+ years":10})

In [19]:
my_data["emp_length"].isna().sum()

43061

In [20]:
my_data["emp_length"].mode()

0    10.0
dtype: float64

In [21]:
my_data["emp_length"].fillna(10, inplace = True)

In [22]:
my_data["verification_status"]= label_encoder.fit_transform(my_data["verification_status"])

In [23]:
my_data=my_data.drop(['id', 'member_id','funded_amnt', 'funded_amnt_inv','emp_title','sub_grade'],axis=1)

In [24]:
my_data.shape

(855969, 46)

## DATA CLEANING, FEATURE ENGINEERING FOR NEXT 9 FEATURES

In [25]:
my_data.iloc[:,9:18]

,issue_d,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line
0,Dec-2011,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985
1,Dec-2011,n,car,bike,309xx,GA,1.00,0.0,Apr-1999
2,Dec-2011,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001
3,Dec-2011,n,other,personel,917xx,CA,20.00,0.0,Feb-1996
4,Dec-2011,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996
...,...,...,...,...,...,...,...,...,...
855964,Jan-2015,n,debt_consolidation,Debt consolidation,905xx,CA,28.69,0.0,Sep-2004
855965,Jan-2015,n,home_improvement,Home improvement,072xx,NJ,3.90,0.0,Mar-1974
855966,Jan-2015,n,debt_consolidation,Debt consolidation,378xx,TN,30.90,0.0,Sep-2003
855967,Jan-2015,n,debt_consolidation,Debt consolidation,010xx,MA,27.19,1.0,Oct-2003
855968,Jan-2015,n,credit_card,Credit card refinancing,331xx,FL,10.83,0.0,Dec-2001

In [26]:
my_data["issue_d"]=pd.to_datetime(my_data["issue_d"])

In [27]:
my_data["purpose"]= label_encoder.fit_transform(my_data["purpose"])

In [28]:
my_data["purpose"].value_counts() 
#debt_consolidation    505392   2
# credit_card           200144   1
# home_improvement       49956   4
# other                  40949   9
# major_purchase         16587   6
# small_business          9785   11
# car                     8593   0
# medical                 8193   7
# moving                  5160   8
# vacation                4542   12
# house                   3513   5
# wedding                 2280   13
# renewable_energy         549  10
# educational              326   3

2     505392
1     200144
4      49956
9      40949
6      16587
11      9785
0       8593
7       8193
8       5160
12      4542
5       3513
13      2280
10       549
3        326
Name: purpose, dtype: int64

In [29]:
my_data=my_data.drop(['pymnt_plan', 'title','zip_code', 'addr_state','earliest_cr_line'],axis=1)

In [30]:
my_data.shape

(855969, 41)

## FOR NEXT 7 FEATURES

In [31]:
my_data.iloc[:,13:20]

,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status
0,1.0,3.0,0.0,13648.0,83.7,9.0,f
1,5.0,3.0,0.0,1687.0,9.4,4.0,f
2,2.0,2.0,0.0,2956.0,98.5,10.0,f
3,1.0,10.0,0.0,5598.0,21.0,37.0,f
4,0.0,15.0,0.0,27783.0,53.9,38.0,f
...,...,...,...,...,...,...,...
855964,0.0,9.0,1.0,14037.0,82.1,15.0,f
855965,1.0,5.0,0.0,8621.0,84.5,23.0,f
855966,0.0,9.0,1.0,11031.0,61.3,22.0,w
855967,2.0,17.0,0.0,8254.0,30.6,20.0,w
855968,1.0,8.0,1.0,33266.0,79.8,10.0,f

In [32]:
my_data["revol_util"].isna().sum()

446

In [33]:
my_data["revol_util"].median()

55.9

In [34]:
my_data["revol_util"].fillna(55.9, inplace = True)

In [35]:
my_data["initial_list_status"].value_counts()

f    442555
w    413414
Name: initial_list_status, dtype: int64

In [36]:
my_data["initial_list_status"]=my_data["initial_list_status"].map({"f":0,"w":1})

In [37]:
my_data["initial_list_status"].value_counts()

0    442555
1    413414
Name: initial_list_status, dtype: int64

In [38]:
my_data.iloc[:,20:30]

,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d
0,0.00,0.00,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015
1,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013
2,0.00,0.00,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014
3,0.00,0.00,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015
4,766.90,766.90,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-2016
...,...,...,...,...,...,...,...,...,...,...
855964,7055.47,7055.47,3971.880000,3971.88,2944.53,1027.35,0.00,0.00,0.00,Jan-2016
855965,16933.26,16933.26,9532.390000,9532.39,7066.74,2465.65,0.00,0.00,0.00,Jan-2016
855966,11155.50,11155.50,3769.740000,3769.74,1844.50,1925.24,0.00,0.00,0.00,Jan-2016
855967,10447.31,10447.31,3787.670000,3787.67,1552.69,2234.98,0.00,0.00,0.00,Jan-2016
855968,14110.94,14110.94,7943.760000,7943.76,5889.06,2054.70,0.00,0.00,0.00,Jan-2016

In [39]:
my_data=my_data.drop(['out_prncp_inv','total_pymnt_inv',"last_pymnt_d"],axis=1)

In [40]:
my_data.isna().sum()

loan_amnt                          0
term                               0
int_rate                           0
installment                        0
grade                              0
emp_length                         0
home_ownership                     0
annual_inc                         0
verification_status                0
issue_d                            0
purpose                            0
dti                                0
delinq_2yrs                        0
inq_last_6mths                     0
open_acc                           0
pub_rec                            0
revol_bal                          0
revol_util                         0
total_acc                          0
initial_list_status                0
out_prncp                          0
total_pymnt                        0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                50
collections_12_mths_ex_med        56
policy_code                        0
application_type                   0
acc_now_delinq                     0
tot_coll_amt                   67313
tot_cur_bal                    67313
total_rev_hi_lim               67313
default_ind                        0
dtype: int64

In [41]:
my_data.iloc[:,27:]

,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,default_ind
0,171.62,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0
1,119.66,NaN,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,1
2,649.91,NaN,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0
3,357.48,NaN,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0
4,67.79,Feb-2016,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
855964,332.10,Feb-2016,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,25274.0,17100.0,0
855965,797.03,Feb-2016,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,140285.0,10200.0,0
855966,316.07,Feb-2016,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,34178.0,18000.0,0
855967,317.86,Feb-2016,Jan-2016,1.0,1.0,INDIVIDUAL,0.0,0.0,58418.0,27000.0,0
855968,664.20,Feb-2016,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,33307.0,41700.0,0

In [42]:
my_data["application_type"].fillna("INDIVIDUAL", inplace=True)

In [43]:
my_data["next_pymnt_d"].fillna("Feb-2016", inplace = True)

In [44]:
my_data["next_pymnt_d"]=pd.to_datetime(my_data["next_pymnt_d"])

In [45]:
my_data["last_credit_pull_d"].fillna("Jan-2016",inplace=True)
my_data["last_credit_pull_d"]=pd.to_datetime(my_data["last_credit_pull_d"])

In [46]:
my_data["collections_12_mths_ex_med"].fillna(0.0,inplace=True)

In [47]:
my_data=my_data.drop(["policy_code"],axis=1)

In [48]:
my_data.shape

(855969, 37)

In [49]:
my_data["tot_coll_amt"].median()

0.0

In [50]:
my_data["application_type"]=my_data["application_type"].map({"INDIVIDUAL":0,"JOINT":1})

In [51]:
my_data["tot_coll_amt"].fillna(0.0,inplace=True)

In [52]:
my_data["tot_cur_bal"].fillna(139766.24,inplace=True)

In [53]:
my_data["total_rev_hi_lim"].fillna(23800, inplace=True)

In [54]:
my_data.shape

(855969, 37)

In [55]:
my_data.isna().sum()

loan_amnt                     0
term                          0
int_rate                      0
installment                   0
grade                         0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
purpose                       0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
out_prncp                     0
total_pymnt                   0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
next_pymnt_d                  0
last_credit_pull_d            0
collections_12_mths_ex_med    0
application_type              0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
total_rev_hi_lim              0
default_ind                   0
dtype: int64

In [56]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855969 entries, 0 to 855968
Data columns (total 37 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   855969 non-null  float64
 1   term                        855969 non-null  int64
 2   int_rate                    855969 non-null  float64
 3   installment                 855969 non-null  float64
 4   grade                       855969 non-null  int32
 5   emp_length                  855969 non-null  float64
 6   home_ownership              855969 non-null  int32
 7   annual_inc                  855969 non-null  float64
 8   verification_status         855969 non-null  int32
 9   issue_d                     855969 non-null  datetime64[ns]
 10  purpose                     855969 non-null  int32
 11  dti                         855969 non-null  float64
 12  delinq_2yrs                 855969 non-null  float64
 13  inq_last_6mths              855969 non-null  float64
 14  open_acc                    855969 non-null  float64
 15  pub_rec                     855969 non-null  float64
 16  revol_bal                   855969 non-null  float64
 17  revol_util                  855969 non-null  float64
 18  total_acc                   855969 non-null  float64
 19  initial_list_status         855969 non-null  int64
 20  out_prncp                   855969 non-null  float64
 21  total_pymnt                 855969 non-null  float64
 22  total_rec_prncp             855969 non-null  float64
 23  total_rec_int               855969 non-null  float64
 24  total_rec_late_fee          855969 non-null  float64
 25  recoveries                  855969 non-null  float64
 26  collection_recovery_fee     855969 non-null  float64
 27  last_pymnt_amnt             855969 non-null  float64
 28  next_pymnt_d                855969 non-null  datetime64[ns]
 29  last_credit_pull_d          855969 non-null  datetime64[ns]
 30  collections_12_mths_ex_med  855969 non-null  float64
 31  application_type            855969 non-null  int64
 32  acc_now_delinq              855969 non-null  float64
 33  tot_coll_amt                855969 non-null  float64
 34  tot_cur_bal                 855969 non-null  float64
 35  total_rev_hi_lim            855969 non-null  float64
 36  default_ind                 855969 non-null  int64
dtypes: datetime64[ns](3), float64(26), int32(4), int64(4)
memory usage: 228.6 MB

In [59]:
my_data=my_data.drop(["next_pymnt_d","last_credit_pull_d"],axis=1)

In [60]:
my_data.shape

(855969, 35)

In [62]:
my_data.to_csv("Cleaneddata_final.csv",index=False)